.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 240px;
}

.App > div {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
}
